.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  //only for login page
  .message {
    padding:1em 0.5em;
    width: 30%;
    background: rgb(195, 238, 195);
    margin-bottom: 1em;
    border-radius: 0.3em;
    span{
      text-align: center;
      font-size:small;
    }
  }
}

form {
  width: max-content;
  width: 30%;
  h1 {
    margin-bottom: 0.5em;
  }
  .form-group {
    margin: 0.5em 0 0;
    label {
      display: block;
      font-size: 1em;
    }
    input {
      display: block;
      margin-top: 5px;
      border-radius: 0.3em;
      background: rgb(226, 226, 226);
      border: none;
      height: 3em;
      width: 100%;
      padding: 0.5em 0.5em;
    }
    span {
      color: red;
      font-size: 0.8em;
    }
  }
  #submit-button {
    padding: 0.5em 1.2em;
    margin: 1.5em 0 0.5em 0;
    border: none;
    background: rgb(226, 226, 226);
    border-radius: 0.3em;
    font-size: 1em;
    cursor: pointer;
  }
  p.redirect {
    font-size: 0.8em;
    a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
