$primary-color: #17171b;
$input-color: #303338;
$text-color: #8e9297;

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background: #101014;

  //only for login page
  .auth-message {
    padding: 1em 0.5em;
    width: 35%;
    background: rgb(195, 238, 195);
    margin-bottom: 1em;
    border-radius: 0.3em;
    span {
      text-align: center;
      font-size: small;
    }
  }

  .auth-form {
    padding: 2em;
    background: $primary-color;
    width: max-content;
    width: 35%;
    border-radius: 0.3em;
    h1 {
      color: lightgray;
      margin-bottom: 0.5em;
    }
    .form-group {
      margin: 1em 0 0;
      label {
        display: block;
        font-size: smaller;
        font-weight: 600;
        color: $text-color;
        text-transform: capitalize;
      }
      input {
        display: block;
        margin-top: 0.5em;
        border-radius: 0.3em;
        background: $input-color;
        border: 0.2px solid #212327;
        height: 3em;
        width: 100%;
        padding: 0.5em 0.8em;
        color: lightgray;
        font-size: 0.9em;
      }
      span {
        color: red;
        font-size: 0.8em;
      }
    }
    #submit-button {
      padding: 0.5em 1.2em;
      margin: 1.5em 0 0.5em 0;
      border: none;
      background: #ff9875;
      border-radius: 0.1em;
      font-size: 1em;
      cursor: pointer;
      text-transform: capitalize;
      font-size: medium;
      color: $primary-color;

      &:hover {
        background: #ffac62;
        color: black;
        font-weight: 500;
        letter-spacing: 0.1em;
        padding: 0.6em 1.2em;
      }
    }

    p.redirect,
    p.forgot-password {
      font-size: small;
      color: $text-color;
      margin-bottom: 0.5em;
      a {
        font-size: medium;
        color: #ff9875;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          color: #ffac62;
          font-size: large;
        }
      }
    }
  }
}
