.profile-body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #303338;
}

.profile-body .profile-container {
  height: 90%;
  width: 70%;
  background: #36393f;
  border-radius: 1em;
  padding: 2em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-body .profile-container section.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-body .profile-container section.profile .profile-header .profile-img {
  height: 6em;
  width: 6em;
  background-color: red;
  border-radius: 50%;
  margin-bottom: 1em;
}

.profile-body .profile-container section.profile .profile-header h1 {
  color: #ece9e9;
}

.profile-body .profile-container section.profile .profile-details {
  width: 80%;
  margin: 1em 0;
}

.profile-body .profile-container section.profile .profile-details p {
  font-size: 1.2em;
  font-weight: 1em;
  color: rgba(236, 233, 233, 0.938);
  margin-bottom: 0.5em;
}

.profile-body .profile-container section.profile .profile-details .profile-form {
  width: 70%;
  border: 3px solid #303338;
  border-radius: 0.5em;
  padding: 1em;
}

.profile-body .profile-container section.profile .profile-details .profile-form form .input-area {
  margin: 0.5em;
  color: white;
}

.profile-body .profile-container section.profile .profile-details .profile-form form .input-area label {
  margin-right: 1em;
}

.profile-body .profile-container section.profile .profile-details .profile-form form .input-area input {
  background: none;
  padding: 0.5em;
  border: none;
  color: white;
  font-size: 1em;
}

.profile-body .profile-container section.profile .profile-details .profile-form form .input-area input:focus {
  border: none;
}

.profile-body .profile-container section.profile .profile-details .profile-form form button {
  padding: 0.8em 1em;
  cursor: pointer;
  border: none;
  border-radius: 0.3em;
  font-size: 0.9em;
  margin: 0.5em;
}

.profile-body .profile-container section.profile .profile-details .profile-form form button:hover {
  color: white;
  background: #6666c2;
}

.profile-body .profile-container section.invite-list {
  margin-top: 2em;
}

.profile-body .profile-container section.invite-list p.invite-header {
  font-size: 1.2em;
  font-weight: 1em;
  color: rgba(236, 233, 233, 0.938);
  margin-bottom: 0.5em;
}

.profile-body .profile-container section.invite-list ::-webkit-scrollbar {
  width: 3px;
}

.profile-body .profile-container section.invite-list ::-webkit-scrollbar-track {
  background: #72767d;
}

.profile-body .profile-container section.invite-list ::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 20em;
  height: 30%;
}

.profile-body .profile-container section.invite-list .invites {
  border-radius: 0.5em;
  border: 3px solid #303338;
  height: 250px;
  overflow-y: auto;
}

.profile-body .profile-container section.invite-list .invites .invite-box {
  margin: 0.5em 1em;
  border: 1px solid #303338;
  border-radius: 0.5em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-body .profile-container section.invite-list .invites .invite-box .invite-description {
  color: white;
}

.profile-body .profile-container section.invite-list .invites .invite-box .button-area button {
  padding: 0.8em 1em;
  cursor: pointer;
  border: none;
  border-radius: 0.3em;
  font-size: 0.9em;
  margin: 0.5em;
}

.profile-body .profile-container section.invite-list .invites .invite-box .button-area button:hover {
  color: darkgrey;
  background: white;
}

.profile-body .profile-container section.invite-list .invites .invite-box .button-area button.invite-accept-button:hover {
  color: white;
  background: #5b5bf3;
}

.profile-body .profile-container section.invite-list .invites .invite-box .button-area button.invite-decline-button:hover {
  color: white;
  background: #e94747;
}
/*# sourceMappingURL=profile.css.map */