#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.left-sidebar {
  background: #2f3136;
  min-width: 230px;
  max-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left-sidebar ::-webkit-scrollbar {
  width: 6px;
}

.left-sidebar ::-webkit-scrollbar-track {
  background: #2f3136;
}

.left-sidebar ::-webkit-scrollbar-thumb {
  background: #2f3136;
  border-radius: 20em;
  height: 95%;
}

.left-sidebar section#server-section {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-bottom: 2px solid #26282c;
}

.left-sidebar section#server-section:hover {
  cursor: pointer;
  background: #36393f;
}

.left-sidebar section#server-section .server-details {
  width: 100%;
}

.left-sidebar section#server-section .server-details .react-contextmenu-wrapper {
  width: 100%;
}

.left-sidebar section#server-section .server-details .react-contextmenu-wrapper .current-server {
  width: 100%;
  height: 50px;
}

.left-sidebar section#server-section .server-details .react-contextmenu-wrapper .current-server .current-server-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-sidebar section#server-section .server-details .react-contextmenu-wrapper .current-server .current-server-info .current-server-name {
  height: 100%;
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-sidebar section#server-section .server-details .react-contextmenu-wrapper .current-server .current-server-info .current-server-name p {
  margin-left: 1.2em;
  font-weight: 600;
}

.left-sidebar section#server-section .server-details .react-contextmenu-wrapper .current-server .current-server-info .top-sidebar-icon {
  margin-right: 0.6em;
}

.left-sidebar section#room-section {
  z-index: 1;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  height: 0px;
}

.left-sidebar section#room-section:hover::-webkit-scrollbar-thumb {
  background: #202020;
}

.left-sidebar section#room-section .server-list-dropdown .server-list-container {
  position: absolute;
  top: 10px;
  left: 5px;
  min-width: 220px;
  max-width: 220px;
  background: #18191c;
  color: #b4b6b9;
}

.left-sidebar section#room-section .server-list-dropdown .server-list-container .server-list .server-list-item {
  margin: 1em 0.5em;
  padding: 0.5em 0.5em;
  list-style: none;
  border-radius: 0.2em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-sidebar section#room-section .server-list-dropdown .server-list-container .server-list .server-list-item:hover {
  background: #5b5bf3;
  color: white;
}

.left-sidebar section#room-section .server-list-dropdown .server-list-container .server-list .server-list-item .server-list-item-logo {
  margin-right: 0.2em;
}

.left-sidebar section#room-section .server-list-dropdown .server-list-container button {
  width: 95%;
  padding: 1em 1.5em;
  border: none;
  margin: 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
  background: #6666c2;
  color: white;
}

.left-sidebar section#room-section .room-list {
  height: 100%;
}

.left-sidebar section#room-section .room-list .empty-room-message {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #72767d;
}

.left-sidebar section#room-section .room-list .room {
  margin: 1em 0.1em;
  margin-bottom: 1em;
}

.left-sidebar section#room-section .room-list .room .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #72767d;
}

.left-sidebar section#room-section .room-list .room .header .room-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  font-size: medium;
}

.left-sidebar section#room-section .room-list .room .header .room-name:hover {
  color: white;
}

.left-sidebar section#room-section .room-list .room .header .room-name .expand-icon {
  margin-top: 0.1em;
}

.left-sidebar section#room-section .room-list .room .header .add-channel-icon {
  cursor: pointer;
  margin-left: auto;
  margin-right: 0.5em;
}

.left-sidebar section#room-section .room-list .room .header .add-channel-icon:hover {
  color: white;
}

.left-sidebar section#room-section .room-list .room .channel-list {
  margin: 0.1em 0;
}

.left-sidebar section#room-section .room-list .room .channel-list .channel {
  margin: 0.1em 0.2em;
  padding: 0.3em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #72767d;
  border-radius: 0.2em;
  cursor: pointer;
}

.left-sidebar section#room-section .room-list .room .channel-list .channel .text-channel-icon {
  margin-top: 0.15em;
}

.left-sidebar section#room-section .room-list .room .channel-list .channel .channel-name {
  margin-left: 0.5em;
  font-weight: 600;
}

.left-sidebar section#room-section .room-list .room .channel-list .channel:hover {
  background: #36393f;
}

.left-sidebar section#room-section .room-list .room .channel-list .channel:hover .channel-name {
  color: white;
}

.left-sidebar section#status {
  background: #292b2f;
  padding: 0.5em 0.5em;
  border-bottom: 2px solid #26282c;
}

.left-sidebar section#status .container {
  margin-bottom: 0.3em;
  margin-right: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-sidebar section#status .container .connection-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4fdc7c;
  font-weight: 600;
}

.left-sidebar section#status .container .connection-status p {
  margin-left: 0.2em;
}

.left-sidebar section#status .container .icons {
  margin-top: 0.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.left-sidebar section#status .container .icons #disconnect-icon,
.left-sidebar section#status .container .icons #mic-icon,
.left-sidebar section#status .container .icons #headphone-icon {
  padding: 0.2em 0.3em;
  margin-top: 0.5em;
  cursor: pointer;
  border-radius: 0.2em;
}

.left-sidebar section#status .container .icons #disconnect-icon:hover,
.left-sidebar section#status .container .icons #mic-icon:hover,
.left-sidebar section#status .container .icons #headphone-icon:hover {
  background: #36393f;
}

#chat {
  background: #36393f;
  width: 100%;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chat ::-webkit-scrollbar {
  width: 6px;
}

#chat ::-webkit-scrollbar-track {
  background: #2e3338;
}

#chat ::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 20em;
  height: 2%;
}

#chat .no-channel {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chat .no-channel p {
  color: #72767d;
  font-size: 2em;
}

#chat section.chat-header {
  max-height: 51.6px;
  padding: 0.8em 0;
  color: white;
  border-bottom: 2px solid #26282c6b;
}

#chat section.chat-header .chat-channel-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

#chat section.chat-header .chat-channel-name .text-channel-icon {
  margin-left: 1.2em;
  margin-right: 0.5em;
}

#chat section.chat-header .chat-channel-name p {
  display: inline;
}

#chat section.messages {
  overflow-y: auto;
  max-height: 82vh;
}

#chat section.messages ul {
  list-style-type: none;
}

#chat section.messages ul .message {
  margin: 2em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#chat section.messages ul .message .owner-img {
  background: red;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  margin-right: 0.5em;
}

#chat section.messages ul .message .message-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.5em;
}

#chat section.messages ul .message .message-details .owner-name {
  color: white;
}

#chat section.messages ul .message .message-details .message-date {
  color: white;
  font-size: smaller;
}

#chat section.messages ul .message .message-details .message-body {
  color: white;
  margin-top: 0.5em;
}

#chat section.send-message-section {
  max-height: 67.5px;
}

#chat section.send-message-section .send-message-form {
  margin: 1em 2em;
  margin-top: auto;
  background: lightgray;
  border-top: 1px solid gray;
  border-radius: 5px;
}

#chat section.send-message-section .send-message-form form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chat section.send-message-section .send-message-form form input {
  padding: 1em;
  background: transparent;
  border: none;
  width: 100%;
  outline-width: 0;
  font-size: medium;
}

#chat section.send-message-section .send-message-form form button {
  display: none;
  cursor: pointer;
  margin-left: 1em;
  padding: 0.5em 1em;
}

.add-channel-body {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #070708cc;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-channel-body .add-channel-container {
  min-width: 400px;
  min-height: 500px;
  max-width: 400px;
  max-height: 500px;
  background: #36393f;
  border-radius: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-channel-body .add-channel-container .header {
  margin: 1em 1em 2em 1em;
  display: block;
}

.add-channel-body .add-channel-container .header p.main-p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.add-channel-body .add-channel-container .header p.secondary-p {
  text-align: center;
  font-size: small;
  color: white;
}

.add-channel-body .add-channel-container .channel-type-input {
  margin: 0 1em;
  color: white;
}

.add-channel-body .add-channel-container .channel-type-input #form-label {
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
}

.add-channel-body .add-channel-container .channel-type-input .MuiFormControl-root {
  width: 100%;
}

.add-channel-body .add-channel-container .channel-type-input .MuiFormControl-root .MuiFormLabel-root {
  color: white;
}

.add-channel-body .add-channel-container .channel-type-input .MuiFormControl-root .Mui-focused {
  color: white;
}

.add-channel-body .add-channel-container .channel-type-input .MuiFormControl-root .MuiRadio-colorSecondary {
  color: white;
}

.add-channel-body .add-channel-container .channel-type-input .MuiFormControl-root .Mui-checked {
  color: #6666c2;
}

.add-channel-body .add-channel-container .channel-type-input .channel-radio-button {
  background: #2f3136;
  margin: 0.5em 0;
  padding: 0.2em 0;
  width: 100%;
  border-radius: 0.2em;
}

.add-channel-body .add-channel-container .channel-type-input .channel-radio-button:hover {
  background: #202225;
}

.add-channel-body .add-channel-container .channel-name-input {
  margin: 0 1em;
}

.add-channel-body .add-channel-container .channel-name-input label#channel-name-label {
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  color: white;
}

.add-channel-body .add-channel-container .channel-name-input input#channel-name {
  display: block;
  margin-top: 0.5em;
  width: 100%;
  border-radius: 0.2em;
  padding: 0.9em 1em;
  border: none;
  background: #2f3136;
  color: white;
}

.add-channel-body .add-channel-container .footer {
  margin-bottom: 0;
  background: #2f3136;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.add-channel-body .add-channel-container .footer button {
  padding: 1em 1.5em;
  border: none;
  margin: 2em 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
  background: #6666c2;
  color: white;
}

.add-channel-body .add-channel-container .footer button#add-channel-cancel-button {
  background: transparent;
}

.add-channel-body .add-channel-container .footer button#add-channel-cancel-button:hover {
  text-decoration: underline;
}

.popup-body {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #070708cc;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-body .popup-container {
  min-width: 400px;
  max-width: 400px;
  background: #36393f;
  border-radius: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-body .popup-container .popup-header {
  margin: 1em 1em 2em 1em;
  display: block;
}

.popup-body .popup-container .popup-header p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.popup-body .popup-container .popup-input {
  margin: 0 1em;
}

.popup-body .popup-container .popup-input label#popup-label {
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  color: white;
}

.popup-body .popup-container .popup-input input#popup-name {
  display: block;
  margin-top: 0.5em;
  width: 100%;
  border-radius: 0.2em;
  padding: 0.9em 1em;
  border: none;
  background: #2f3136;
  color: white;
}

.popup-body .popup-container .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.popup-body .popup-container .button-area button {
  padding: 1em 1.5em;
  border: none;
  margin: 1em 0;
  border-radius: 0.2em;
  cursor: pointer;
  background: #6666c2;
  color: white;
}

.popup-body .popup-container .button-area button#popup-cancel-button {
  background: transparent;
}

.popup-body .popup-container .button-area button#popup-cancel-button:hover {
  text-decoration: underline;
}

.context .context-wrapper {
  position: absolute;
  min-width: 210px;
  max-width: 210px;
}

.context .context-wrapper .context-list {
  background: #18191c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.3em;
}

.context .context-wrapper .context-list button.context-list-item {
  width: 95%;
  padding: 0.8em;
  margin: 0.2em 0.5em;
  display: block;
  background: transparent;
  border: none;
  color: #b4b6b9;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.2em;
}

.context .context-wrapper .context-list button.context-list-item:hover {
  background: #5b5bf3;
  color: white;
}

.context .context-wrapper .context-list button.button-danger {
  margin-top: 0.5em;
}

.context .context-wrapper .context-list button.button-danger:hover {
  background: #e94747;
  color: white;
}

.react-contextmenu-item {
  width: 95%;
}
/*# sourceMappingURL=home.css.map */