.sidebar {
  background: rgb(47, 49, 54);
  width: 270px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  section.top-section {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 2px solid #26282c;
    margin-bottom: 0.5em;
    &:hover {
      cursor: pointer;
      background: #36393f;
    }

    p.server-name {
      display: inline;
      margin-left: 1.2em;
      font-weight: 600;
    }

    .server-expand-icon {
      margin-right: 0.6em;
    }
  }

  section.room-section {
    flex: 1;
    .room-list {
      .room {
        margin: 0.5em 0.1em;
        margin-bottom: 1em;
        .header {
          display: flex;
          color: rgb(114, 118, 125);

          .room-name {
            display: flex;
            cursor: pointer;
            width: 100%;
            font-weight: 600;
            font-size: medium;
            &:hover {
              color: white;
            }

            .expand-icon {
              margin-top: 0.1em;
            }
          }

          .add-channel {
            cursor: pointer;
            margin-left: auto;
            margin-right: 0.8em;
            &:hover {
              color: white;
            }
          }
        }

        .channel-list {
          margin: 0.1em 0;
          .channel {
            margin: 0.1em 0.2em;
            padding: 0.3em 1em;
            display: flex;
            color: rgb(114, 118, 125);
            border-radius: 0.2em;
            cursor: pointer;

            .text-channel-icon {
              margin-top: 0.15em;
            }

            .channel-name {
              margin-left: 0.5em;
              font-weight: 600;
            }

            &:hover {
              background: #36393f;
              .channel-name {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  section.voice-connection {
    background: #292b2f;
    padding: 0.5em 0.5em;
    border-bottom: 2px solid #26282c;

    .voice-option {
      margin-bottom: 0.3em;
      margin-right: 0.5em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .connection-status {
        display: flex;
        color: #4fdc7c;
        font-weight: 600;
      }
      .disconnect-icon {
        color: white;
        cursor: pointer;
        padding: 0.3em 0.5em;
        border-radius: 0.2em;
        color: rgb(114, 118, 125);

        &:hover {
          background: #36393f;
        }
      }
    }
    .stream-option {
      display: flex;
      justify-content: space-evenly;

      .video,
      .screen-share {
        display: flex;
        padding: 0.5em 1.2em;
        border-radius: 0.2em;
        background: #36393f;
        color: white;
        cursor: pointer;
        &:hover {
          background: #2d2f34;
        }

        .icon {
          margin-right: 0.5em;
        }
      }
    }
  }

  section.user-status{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #292b2f;
    padding: 0.5em 0.5em;
    color: rgb(114, 118, 125);

    .user-image{
      background: red;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }

    .username{
      color: white;
      cursor: pointer;
    }

    #mic-icon, #headphone-icon, #settings-icon{
      padding: 0.2em 0.3em;
      margin-top: 0.5em;
      cursor: pointer;
      border-radius:0.2em;

      &:hover{
        background: #36393f;
      }
    }
  }
}
