.app {
  height: 100vh;
  width: 100vw;
  background: #303338;
  color: rgb(236, 233, 233);
  overflow: hidden;
}

.add-channel-body {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #070708cc;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  .add-channel-container {
    min-width: 400px;
    min-height: 500px;
    max-width: 400px;
    max-height: 500px;
    // position: absolute;
    background: #36393f;
    border-radius: 0.3em;
    // top: 15%;
    //left: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .add-channel-header {
      margin: 1em 1em 2em 1em;
      display: block;
      p.main-p {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: white;
      }
      p.secondary-p {
        text-align: center;
        font-size: small;
        color: white;
      }
    }

    .channel-type-input {
      margin: 0 1em;
      color: white;
      #form-label {
        text-transform: uppercase;
        font-size: small;
        font-weight: 600;
      }

      .MuiFormControl-root {
        width: 100%;
        .MuiFormLabel-root {
          color: white;
        }
        .Mui-focused {
          color: white;
        }

        .MuiRadio-colorSecondary {
          color: white;
        }
        .Mui-checked {
          color: rgb(102, 102, 194);
        }
      }
      .channel-radio-button {
        background: #2f3136;
        margin: 0.5em 0;
        padding: 0.2em 0;
        width: 100%;
        border-radius: 0.2em;

        &:hover {
          background: #202225;
        }
      }
    }
    .channel-name-input {
      margin: 0 1em;
      label#channel-name-label {
        text-transform: uppercase;
        font-size: small;
        font-weight: 600;
        color: white;
      }
      input#add-channel-name {
        display: block;
        margin-top: 0.5em;
        width: 100%;
        border-radius: 0.2em;
        padding: 0.9em 1em;
        border: none;
        background: #2f3136;
        color: white;
      }
    }

    .footer {
      margin-bottom: 0;
      background: rgb(47, 49, 54);
      display: flex;
      flex-direction: row-reverse;
      button {
        padding: 1em 1.5em;
        border: none;
        margin: 2em 0.5em;
        border-radius: 0.2em;
        cursor: pointer;
        background: rgb(102, 102, 194);
        color: white;
      }
      button#add-channel-cancel-button {
        background: transparent;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.context {
  .context-wrapper {
    position: absolute;
    min-width: 210px;
    max-width: 210px;

    .context-list {
      background: #18191c;
      display: flex;
      flex-direction: column;
      padding: 0.5em 0;
      align-items: center;
      justify-content: center;
      border-radius: 0.3em;
      button.context-list-item {
        width: 95%;
        padding: 0.8em;
        margin: 0.2em 0.5em;
        display: block;
        background: transparent;
        border: none;
        color: #b4b6b9;
        font-size: 0.9em;
        font-weight: 600;
        cursor: pointer;
        border-radius: 0.2em;
        &:hover {
          background: rgb(91, 91, 243);
          color: white;
        }
      }
      button.button-danger {
        margin-top: 0.5em;
        &:hover {
          background: rgb(233, 71, 71);
          color: white;
        }
      }
    }
  }
}

.popup-body {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #070708cc;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup-container {
    min-width: 400px;
    max-width: 400px;
    // position: absolute;
    background: #36393f;
    border-radius: 0.3em;
    // top: 15%;
    //left: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .popup-header {
      margin: 1em 1em 2em 1em;
      display: block;
      p {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: white;
      }
    }

    .popup-input {
      margin: 0 1em;
      label#popup-label {
        text-transform: uppercase;
        font-size: small;
        font-weight: 600;
        color: white;
      }
      input#popup-name {
        display: block;
        margin-top: 0.5em;
        width: 100%;
        border-radius: 0.2em;
        padding: 0.9em 1em;
        border: none;
        background: #2f3136;
        color: white;
      }
    }

    .button-area {
      display: flex;
      flex-direction: row;
      button {
        padding: 1em 1.5em;
        border: none;
        margin: 1em 0;
        border-radius: 0.2em;
        cursor: pointer;
        background: rgb(102, 102, 194);
        color: white;
      }
      button#popup-cancel-button {
        background: transparent;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.loading-screen {
  height: 100%;
  width: 100%;
  display: flex;
  background: gray;
  align-items: center;
  justify-content: center;
}

span.error {
  color: red;
  font-size: 0.8em;
}
